option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.19.0
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    MODE: http
    PORT: 8080
    SUBSTACK_FEED_URL: https://trilogyai.substack.com
    DEBUG: false
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: public 